<!-- Main Content -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Hero Section with QRCode and Avatar -->
    <div class="col-md-6 text-center">
      <h1 class="display-4 mb-4"><%= 服務名稱 %></h1>
      <img src="/images/logo-128.png" alt="網站標誌" class="img-fluid rounded-circle mb-2">
      <p class="lead"><%= meta_description %></p>
    </div>
  </div>
</div>
