<% set_meta_tags title: "隱私權政策", reverse: true, canonical: privacy_url %>

<h1 class="text-center mb-5">隱私權政策</h1>
<h2 class="mt-3 mb-3">資料收集</h2>
<p>當您使用<%= 服務名稱 %>時，我們可能會收集您提供的任何資訊，如：用戶名稱、群組資訊等。我們不會收集任何敏感的個人資料，如：密碼、財務資訊等。</p>
<p></p>
<h2 class="mt-3 mb-3">資料使用</h2>
<p>我們使用收集的資料來提供、維護和改善我們的服務。我們不會將您的資料出售或分享給第三方用於商業目的。</p>
<p></p>
<p></p>

<h2 class="mt-3 mb-3">資料分享</h2>
<p>我們可能會與第三方服務提供者分享資料，以支持我們的業務運營。在法律要求或緊急情況下，我們可能會分享您的資料。</p>

<h2 class="mt-3 mb-3">資料保護</h2>
<p>我們使用各種安全措施來保護您的資料，確保不被未經授權的訪問、使用或披露。</p>

<h2 class="mt-3 mb-3">變更通知</h2>
<p>我們可能會不時更新此隱私權政策。當我們進行重大更改時，我們將通知您。</p>
